:host, :host smd-fab-speed-dial {
  width: 100%;
}

:host smd-fab-actions {
  margin-left: auto;
}
::ng-deep .tenant-header h4{
  margin-left: 20px;
}
::ng-deep .tenant-header .list-arrow {
  display: none !important;
}
:host smd-fab-trigger {
  display: flex;
  align-items: center;
}
:host smd-fab-trigger h4 {
  display: flex;
}
