<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<smd-fab-speed-dial #myFab [direction]="direction"
                    [animationMode]="animationMode"
                    [fixed]="fixed"
                    (mouseenter)="myFab.open = true"
                    (mouseleave)="myFab.open = false" (click)="collapse = !collapse">
  <smd-fab-trigger [spin]="spin">
    <h4 md-mini-fab *ngIf="company">
      <i *ngIf="collapse" class="material-icons list-arrow">keyboard_arrow_up</i>
      <i *ngIf="!collapse" class="material-icons list-arrow">keyboard_arrow_down</i>
      <span>{{company.title }} </span>
    </h4>
    <h4 md-mini-fab *ngIf="tenant">
      <span>{{tenant.title}}</span>
    </h4>
  </smd-fab-trigger>
  <smd-fab-actions>

    <button md-mini-fab
            *ngIf="!tenant"
            mdTooltip="Delete company"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="openDialog({action: 'delete', text: 'you want to delete this company?', company: company});$event.stopPropagation()"
            id="company-list-delete">
      <i class="material-icons">delete_forever</i>
    </button>
    <button md-mini-fab
            *ngIf="tenant"
            mdTooltip="Delete tenant"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="openDialog({action: 'delete', text: 'you want to delete this tenant?', company: company});$event.stopPropagation()"
            id="tenant-list-delete">
      <i class="material-icons">delete_forever</i>
    </button>
    <button md-mini-fab
            *ngIf="!tenant"
            mdTooltip="Disable company"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="openDialog({action: 'disable', text: 'you want to disable this company?', company: company});$event.stopPropagation()"
            id="company-list-disable">
      <i class="material-icons">do_not_disturb_alt</i>
    </button>
    <button md-mini-fab
            *ngIf="tenant"
            mdTooltip="Disable tenant"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="openDialog({action: 'disable', text: 'you want to disable this tenant?', company: company});$event.stopPropagation()"
            id="tenant-list-disable">
      <i class="material-icons">do_not_disturb_alt</i>
    </button>
    <button md-mini-fab
            *ngIf="!tenant"
            mdTooltip="Edit company"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="editCompany(company);$event.stopPropagation()"
            id="company-list-edit">
      <i class="material-icons">edit</i>
    </button>
    <button md-mini-fab
            *ngIf="tenant"
            mdTooltip="Edit tenant"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="editTenant(tenant);$event.stopPropagation()"
            id="tenant-list-edit">
      <i class="material-icons">edit</i>
    </button>
    <button md-mini-fab
            *ngIf="!tenant"
            mdTooltip="Add tenant"
            mdTooltipPosition="above"
            mdTooltipShowDelay="1000"
            (click)="addTenant(company);$event.stopPropagation()"
            id="company-list-add">
      <i class="material-icons">playlist_add</i>
    </button>

  </smd-fab-actions>
</smd-fab-speed-dial>

