<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<md-sidenav-container id="sidenav-container">
  <md-sidenav id="sidenav-sidenav-primary" mode="side" align="start" opened="{{openNavbar}}">
    <div id="sidebar-menu" [@initAnimation]>
      <span id="sidebar-companies"
            mdTooltip="Multi Tenancy" mdTooltipPosition="right"
            (click)="showCompanies = !showCompanies"
            [ngClass]="{'sidebar-active': showCompanies}">
        <i class="material-icons" id="sidebar-companies-icon">assignment</i>
        <p *ngIf="openNavbar"
           [@initAnimation]
           i18n
           id="sidebar-companies-link">Multi Tenancy</p>
      </span>
      <span id="sidebar-settings"
            mdTooltip="Settings"
            mdTooltipPosition="right">
        <i class="material-icons" id="sidebar-settings-icon">settings</i>
        <p *ngIf="openNavbar"
           [@initAnimation]
           i18n
           id="sidebar-settings-link" >Settings</p>
      </span>
    </div>
    <span *ngIf="!openNavbar"
          mdTooltip="Expand"
          mdTooltipPosition="right"
          (click)="openNavbar = !openNavbar"
          id="sidebar-opener">
      <i class="material-icons">chevron_right</i>
    </span>
    <span *ngIf="openNavbar"
          mdTooltip="Collapse"
          mdTooltipPosition="right"
          (click)="openNavbar = !openNavbar"
          id="sidebar-closer">
      <i class="material-icons">chevron_left</i>
    </span>
  </md-sidenav>
  <div id="sidenav-content">
    <!--TODO : Think about parent/child components instead of hiding/showing-->
    <my-list *ngIf="showCompanies" (selectedCompany)="handleCompany($event)" fxLayout="column" fxLayout.gt-md="row"></my-list>
  </div>
</md-sidenav-container>
