@import '../../../style/colors.scss';
:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/deep/ #list-actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
:host /deep/ md-list-item .mat-list-item-content {
  flex-direction: column !important;
  height: 100% !important;
  overflow: hidden;
}
:host /deep/ .mat-line {
  height: 60px;
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}
:host /deep/ .company-actions {
  display: flex;
  flex-direction: row;
}
#companies-list {
  display: flex;
  flex-direction: column;
}
/deep/ .tenant-item {
  overflow: hidden !important;
}
