<md-card [@initAnimation] fxFlex="50%">
  <div id="list-actions">
    <md-input-container floatPlaceholder="never">
      <input mdInput
             placeholder="Search list"
             [(ngModel)]="filterText"
             id="company-search">
    </md-input-container>
    <button md-mini-fab
            *ngIf="!showAddCompany">
      <i class="material-icons" (click)="showAddCompany = !showAddCompany">playlist_add</i>
    </button>
    <md-input-container
      floatPlaceholder="never"
      *ngIf="showAddCompany">
      <input mdInput placeholder="Add a new company..."
             [@initAnimation]
             [(ngModel)]="newCompany.title"
             (keyup.enter)="addCompany()"
             id="company-add">
    </md-input-container>
  </div>
  <h4 i18n>Companies and tenants </h4>
  <ng-container *ngIf="filterText.length < 1">

    <td-expansion-panel-group *ngFor="let company of companies;">
      <td-expansion-panel [@initAnimation] [expand]="false">
        <ng-template td-expansion-panel-header>
          <div md-line class="company-header">
            <my-list-speed-dial [company]="company" (selectedCompany)="selectedCompany($event)"></my-list-speed-dial>
          </div>
        </ng-template>
        <div class="company-content">
          <td-expansion-panel-group>
            <td-expansion-panel [@initAnimation] *ngFor="let tenant of company.tenants;">
              <ng-template td-expansion-panel-header>
                <div md-line class="tenant-header">
                  <my-list-speed-dial [tenant]="tenant"></my-list-speed-dial>
                </div>
              </ng-template>
              <div class="tenant-content">
                <p md-line>Tenant ID: {{tenant.id}}</p>
              </div>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </div>
      </td-expansion-panel>
    </td-expansion-panel-group>
  </ng-container> <!--END OF NON FILTERING SECTION-->

  <div *ngIf="filterText.length > 0">

    <td-expansion-panel-group *ngFor="let company of companies| myCompanyFilter:filterText;">
      <td-expansion-panel [@initAnimation]>
        <ng-template td-expansion-panel-header>
          <div md-line class="company-header">
            <my-list-speed-dial [company]="company"></my-list-speed-dial>
          </div>
        </ng-template>

        <div class="company-content">
          <td-expansion-panel-group>
            <td-expansion-panel [@initAnimation] *ngFor="let tenant of company.tenants;">
              <ng-template td-expansion-panel-header>
                <h4 md-line >{{tenant.title}}</h4>
              </ng-template>
              <div class="tenant-content">
                <p md-line>Tenant ID: {{tenant.id}}</p>
              </div>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </div>
      </td-expansion-panel>
    </td-expansion-panel-group>

    <div *ngFor="let company of companies">
      <td-expansion-panel-group *ngFor="let tenant of company.tenants | myTenantFilter:filterText">

        <td-expansion-panel [@initAnimation]>
          <ng-template td-expansion-panel-header>
            <div md-line class="tenant-header">
              <my-list-speed-dial [tenant]="tenant"></my-list-speed-dial>
            </div>
          </ng-template>
          <div class="tenant-content">
            <p md-line>Tenant ID: {{tenant.id}}</p>
          </div>
        </td-expansion-panel>
      </td-expansion-panel-group>
    </div>
  </div> <!--END OF FILTERING SECTION-->
</md-card>
<my-company-edit *ngIf="currentCompany" [company]="currentCompany"></my-company-edit>
