<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<md-card [@initAnimation]>
  <md-card-header>
    <md-card-title i18n>{{company.title}}</md-card-title>
    <button md-mini-fab
            [disabled]="editForm.pristine || editForm.status === 'INVALID'"
            (click)="editTenant({text: 'you want to edit the tenant?'})"
            i18n
            id="submit-edit-to-tenant">
      <i class="material-icons">done</i>
    </button>
  </md-card-header>
  <hr />
  <form [formGroup]="editForm" fxLayout="column" fxLayoutAlign="space-around center" id="company-edit-form">
    <div class="tenant-details-edit">

      <div fxFlexLayout="column">
        <md-input-container class="licences" fxFlexOffset="10">
          <label i18n>Tenant name</label>
          <input mdInput
                 formControlName="name"
                 id="company-name-input">
        </md-input-container>
        <my-validation [control]="editForm.controls.name" id="tenant-name-validation"></my-validation>
      </div>

      <div fxFlexLayout="column">
        <md-input-container class="licences" fxFlexOffset="10">
          <label i18n>Voice licences</label>
          <input mdInput
                 formControlName="voiceLicences"
                 [(ngModel)]="company.current_voice_licences"
                 id="tenant-voice-licences-add">
        </md-input-container>
        <my-validation [control]="editForm.controls.voiceLicences" id="tenant-voice-licences-validation"></my-validation>
      </div>

      <div fxFlexLayout="column">
        <md-input-container class="licences" fxFlexOffset="10">
          <label i18n>Digital licences</label>
          <input mdInput
                 formControlName="digitalLicences"
                 [(ngModel)]="company.digital_licences_per_day"
                 id="tenant-digital-licences-add">
        </md-input-container>
        <my-validation [control]="editForm.controls.digitalLicences" id="tenant-digital-licences-validation"></my-validation>
      </div>
    </div>
  </form>

  <my-company-user-table [newUsers]="newUsers"></my-company-user-table>

  <span mdTooltip="Select users & roles from the tables below to add it to a tenant"
        mdTooltipPosition="above"
        mdTooltipShowDelay="1000">
    <button md-raised-button
            [disabled]="!myUserTable.showAddCompanyButton() || !myRoleTable.showAddCompanyButton()"
            (click)="addToCompany()"
            i18n
            id="add-form-add-to-company">Add users/roles to company
    </button>
    <my-notification></my-notification>
  </span>

  <div class="company-tables" fxLayout="row" fxLayoutAlign="center space-around">
    <my-user-table (selectedUsers)="getSelectedUsers($event)" #myUserTable></my-user-table>
    <my-company-role-table (selectedRoles)="getSelectedRoles($event)" #myRoleTable></my-company-role-table>
  </div>

</md-card>

