@import "../../../style/colors.scss";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: $mid-orange;
  color: #fff;
  padding-bottom: 5px;
}
nav {
  height: 48px;
  background-color: $blue-grey;
  display: flex;
  align-items: center;
}
#navbar-logo {
  display: inline-block;
  position: relative;
  height: 60px;
  left: -5px;
}
#navbar-search{
  background-color: white;
  border-radius: 15px;
  padding: 0 10px;
  color: #304050;
  border: 0;
  height: 30px;
  width: 190px;
  margin-left: 8px;
  outline: none;
  min-width: 100px;
}
