/**
 * Avaya Inc. - Proprietary (Restricted)
 * Solely for authorized persons having a need to know pursuant to Company instructions.
 *
 * Copyright © Avaya Inc. All rights reserved.
 *
 * THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
 * The copyright notice above does not evidence any actual or intended publication of such source code.
 */
@import "../../../style/colors.scss";

:host {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
}
#navbar-menu-button {
  height: 48px;
  padding: 0 18px;
  border-radius: 0;
  margin: 0 0 0 10px;
}
::ng-deep .mat-menu-panel {
  min-width: 192px !important;
}
::ng-deep .mat-menu-content {
  background-color: $blue-grey !important;
}
::ng-deep .mat-menu-content .mat-menu-item {
  display: flex;
  align-items: center;
}
::ng-deep .mat-menu-content .mat-menu-item i {
  padding-right: 6px;
}
::ng-deep .mat-menu-content .mat-menu-item:hover, .mat-menu-content .mat-menu-item:active {
  color: $mid-orange !important;
}
