@import "../../../style/colors.scss";
:host {
  height:100%;
  width: 100%;
  display: flex;
}
:host ::ng-deep md-card {
  flex: 1;
  width: 100%;
}
#add-to-company, #submit-add-to-company {
  margin-top: 30px;
}
:host .company-edit-licences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
:host ::ng-deep #company-voice-licences-input, :host ::ng-deep #company-digital-licences-input {
  width: 50px;
  max-width: 50px;
}
:host md-card-title{
  font-weight: bold;
  font-size: 18px;
}
:host my-company-role-table{
  margin-top: 58px;
}

:host .mat-table-container{
  width: 50%;
  max-width: 50%;
  margin: auto;
  border: dotted;
}

:host ::ng-deep table[td-data-table].mat-selectable tbody > tr.td-data-table-row.mat-selected {
  background-color: $light-grey !important;
}

:host ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
:host ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
:host ::ng-deep md-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: $blue-grey !important;
}
:host ::ng-deep .td-data-table-row {
  height: 34px !important;
}
:host ::ng-deep td-paging-bar > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
:host my-validation {
  text-align: center;
}
