@import "../../../style/colors.scss";
:host {
  height:100%;
  min-height: 100%;
  width: 100%;
  display: flex;
}
:host  md-card {
  width: 100%;
}
#add-to-company, #submit-add-to-company {
  margin-top: 30px;
}
:host .company-edit-licences {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
:host #company-voice-licences-input, :host #company-digital-licences-input {
  width: 50px;
  max-width: 50px;
}

:host md-card-title{
  font-weight: bold;
  font-size: 18px;
}
