<div fxLayout="row" fxLayoutAlign="center center">
  <td-search-input #searchBox placeholder="Filter users" [showUnderline]="true" (searchDebounce)="search($event)" id="user-table-search">
  </td-search-input>
</div>
<td-data-table
       #dataTable
       [data]="filteredData"
       [columns]="columns"
       [selectable]="true"
       [clickable]="true"
       [multiple]="true"
       [sortable]="true"
       [sortBy]="sortBy"
       [(ngModel)]="selectedRows"
       (ngModelChange)="selectUsers(selectedRows); showAddCompanyButton()"
       [sortOrder]="sortOrder"
       (sortChange)="sort($event)">
</td-data-table>
<div *ngIf="!dataTable.hasData" fxLayout="row" fxLayoutAlign="center center">
  <p  i18n>No results to display.</p>
</div>
<td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20]" [total]="filteredTotal" (change)="page($event)">
  <span td-paging-bar-label  i18n>Row per page:</span>
  {{pagingBar.range}} <span i18n>of {{pagingBar.total}}</span>
</td-paging-bar>
