/**
 * Avaya Inc. - Proprietary (Restricted)
 * Solely for authorized persons having a need to know pursuant to Company instructions.
 *
 * Copyright © Avaya Inc. All rights reserved.
 *
 * THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
 * The copyright notice above does not evidence any actual or intended publication of such source code.
 */
// component styles are encapsulated and only applied to their components
@import '../../../style/colors.scss';

:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
::ng-deep md-input-container{
  width: 90%;
}
md-card {
  align-self: center;
}
md-card img {
  width: 300px;
  height: auto;
  margin-top: 20px;
}
.mat-card-header .mat-card-title {
  font-size: 16px;
  font-weight: 600;
  color: $blue-grey;
}
::ng-deep .mat-input-ripple{
  background-color: $blue-grey !important;
}
