/*
OCEANA color palettes and usage
*/
/*TEXT*/
$header-gray: #303030; //Card header Text Card header icon
$blue-dark-grey: #304050; //main text
$navy-black: #081723; //main text2, popup and action menu bg (80% opacity)
$dark-grey: #5A646E; //secondary text
$mid-grey: #96A0AA; //secondary text, Active not in focus Webchat, social, email
$mid-orange: #F7941E;
$active-green: #008000;
$presence-green: #4BAA39;

  /*UI*/
$light-grey:  #DCE1E6; //main BG, border
$blue-grey: #3C5064; //menu, Active Webchat, social, Email, border, icons
$mid-blue: #007AFF; //voice/video call on hold, active button, mouse over BG
$light-blue: #CAE5FF; //button hover
$attachment-blue: #C6DFF2; //list mouse over
$off-white: #F2F2F2; //IM - agent work card button
$light-orange: #F9D9B1; //reply in line BG IM
$ice-blue: #ECF4FB; //list mouse over
