@import "../../../style/colors.scss";

/deep/ .mat-input-ripple{
  background-color: $blue-grey !important;
}
/deep/ #site-search {
  min-width: 100px;
}

/deep/ .mat-input-infix {
   color: #5A646E !important;
}
