@import "../../../style/colors.scss";

::ng-deep .mat-input-ripple{
  background-color: $blue-grey !important;
}
::ng-deep #site-search {
  min-width: 100px;
}

::ng-deep .mat-input-infix {
   color: #5A646E !important;
}
