<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<md-input-container floatPlaceholder="never">
  <input mdInput placeholder="Search list"  (keyup)="searchTerm$.next($event.target.value)" id="company-search">
</md-input-container>
<md-list *ngIf="results" id="company-search-container">
  <md-list-item *ngFor="let result of results; let i = index;" class="company-search-result">
    <a style="color:black">{{ result }}</a>
  </md-list-item>
</md-list>
