<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<div md-dialog-content i18n id="dialog-question">Are you sure {{data}}</div>
<div md-dialog-actions>
  <button md-button md-dialog-close="1" id="dialog-yes" i18n>Yes</button>
  <button md-button md-dialog-close="0" id="dialog-no" i18n>No</button>
</div>
