<!--
* Avaya Inc. - Proprietary (Restricted)
* Solely for authorized persons having a need to know pursuant to Company instructions.
*
* Copyright © Avaya Inc. All rights reserved.
*
* THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF Avaya Inc.
* The copyright notice above does not evidence any actual or intended publication of such source code.
-->
<md-card [@initAnimation] fxFlex="100%" fxFlex.gt-md="30%">
  <div id="list-actions">
    <md-input-container floatPlaceholder="never">
      <input mdInput
             placeholder="Search list"
             [(ngModel)]="filterText"
             id="company-search">
    </md-input-container>
    <button md-mini-fab>
      <i class="material-icons" (click)="showAddCompanyComponent = !showAddCompanyComponent; showAddTenantComponent= false; showEditTenantComponent = false;" id="add-company">playlist_add</i>
    </button>
  </div>
  <h4 i18n>Companies and tenants </h4>
  <ng-container *ngIf="filterText.length < 1">

    <td-expansion-panel-group *ngFor="let company of companies | async">
      <td-expansion-panel [@initAnimation] [expand]="false">
        <ng-template td-expansion-panel-header>
          <div md-line class="company-header">
            <my-list-speed-dial [company]="company"
                                (selectedCompany)="selectedCompany($event)"
                                (showAddTenant)="showAddTenant($event)">
            </my-list-speed-dial>
          </div>
        </ng-template>
        <div class="company-content">
          <td-expansion-panel-group>
            <td-expansion-panel [@initAnimation] *ngFor="let tenant of company.tenants">
              <ng-template td-expansion-panel-header>
                <div md-line class="tenant-header">
                  <my-list-speed-dial [tenant]="tenant"
                                      (selectedCompany)="showEditTenant($event)">

                  </my-list-speed-dial>
                </div>
              </ng-template>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </div>
      </td-expansion-panel>
    </td-expansion-panel-group>
  </ng-container> <!--END OF NON FILTERING SECTION-->

  <div *ngIf="filterText.length > 0">

    <td-expansion-panel-group *ngFor="let company of companies| myCompanyFilter:filterText;">
      <td-expansion-panel [@initAnimation]>
        <ng-template td-expansion-panel-header>
          <div md-line class="company-header">
            <my-list-speed-dial [company]="company"
                                (selectedCompany)="selectedCompany($event)"
                                (showAddTenant)="showAddTenant($event)">

            </my-list-speed-dial>
          </div>
        </ng-template>

        <div class="company-content">
          <td-expansion-panel-group>
            <td-expansion-panel [@initAnimation] *ngFor="let tenant of company.tenants">
              <ng-template td-expansion-panel-header>
                <h4 md-line >{{tenant.title}}</h4>
              </ng-template>
            </td-expansion-panel>
          </td-expansion-panel-group>
        </div>
      </td-expansion-panel>
    </td-expansion-panel-group>

    <div *ngFor="let company of companies | async">
      <td-expansion-panel-group *ngFor="let tenant of company.tenants | myTenantFilter:filterText">

        <td-expansion-panel [@initAnimation]>
          <ng-template td-expansion-panel-header>
            <div md-line class="tenant-header">
              <my-list-speed-dial [tenant]="tenant"
                                  (selectedCompany)="showEditTenant($event)">

              </my-list-speed-dial>
            </div>
          </ng-template>
        </td-expansion-panel>
      </td-expansion-panel-group>
    </div>
  </div> <!--END OF FILTERING SECTION-->
</md-card>
<!--
<my-company-add *ngIf="showAddCompanyComponent && !showAddTenantComponent" [newUsers]="newUsers"></my-company-add>
<my-company-edit *ngIf="currentCompany && !showAddCompanyComponent && !showAddTenantComponent && !showEditTenantComponent" [company]="currentCompany"></my-company-edit>
<my-tenant-add *ngIf="showAddTenantComponent" [company]="currentCompany"></my-tenant-add>
<my-tenant-edit *ngIf="showEditTenantComponent" [company]="currentCompany"></my-tenant-edit>
-->
