@import '../../../style/colors.scss';
:host  {
  display: flex;
  flex-direction: row;
  & my-company-add, my-company-edit {
    height: 100%;
    min-height: 100%;
    width: 100%;
    & ::ng-deep #add-form-add-to-company, ::ng-deep #edit-form-add-to-company {
      margin-top: 30px;
    }
    & #company-voice-licences-input, #company-digital-licences-input {
      width: 50px;
      max-width: 50px;
    }
    & .company-actions {
      display: flex;
      flex-direction: row;
    }
    & ::ng-deep my-company-role-table {
      margin-top: 58px;
    }
  }
  &  ::ng-deep my-validation {
    text-align: center;
  }

  & md-list-item .mat-list-item-content {
    flex-direction: column !important;
    height: 100% !important;
    overflow: hidden;
  }
  & #list-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  & .mat-line {
    height: 60px;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
  }
  & .tenant-item {
    overflow: hidden !important;
  }
  & ::ng-deep table[td-data-table].mat-selectable tbody > tr.td-data-table-row.mat-selected {
    background-color: $light-grey !important;
  }
  & ::ng-deep .td-data-table-row {
    height: 34px !important;
  }
  & ::ng-deep td-paging-bar > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

// fix for quirck resizing in chrome
@media all and (max-width: 1279px) {
  :host ::ng-deep md-card {
    height: 100%;
  }
}


#companies-list {
  display: flex;
  flex-direction: column;
}


:host .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
:host .mat-checkbox-checked.mat-accent .mat-checkbox-background,
:host md-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: $blue-grey !important;
}

:host {
  & my-company-add, my-company-edit {
    height:100%;
    min-height: 100%;
    width: 100%;
    display: flex;
  }
  & ::ng-deep md-card {
    width: 100%;
    & ::ng-deep .mat-card-header {
      justify-content: space-between;
      align-items: center;
      & ::ng-deep md-card-title {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  & ::ng-deep input {
    font-weight: bold;
  }
  & ::ng-deep .company-details-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  & ::ng-deep table[td-data-table] .td-data-table-column {
    font-size: 14px !important;
    color: black !important;
  }
}
